@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.details {
  .active {
    background-color: white;
    position: absolute;
  }
  .inactive {
    background-color: red;
  }
}
.content {
  /* .img{
        aspect-ratio: 3;
        object-fit: cover;
    } */

  .name {
    p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      opacity: 1;
      transition: opacity 0.1s ease-in-out;
    }
    .activeBlur {
      opacity: 0.5;
    }
  }
  .detailsTopRank {
    display: flex;
    flex-direction: row;
    gap: 20px;

    .detailsTopRankRate {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      color: #b5e745;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .detailsTopRankEpsiodes {
      color: #78909c;
    }
    .detailsTopRankReleaseYear {
      color: #78909c;
    }
  }
}

.play-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@layer utilities {
  .animate-zoomIn {
    animation-name: zoomIn;
    animation-duration: 0.24s;
    animation-fill-mode: both;
  }
  .animate-zoomOut {
    animation-name: zoomOut;
    animation-duration: 0.24s;
    animation-fill-mode: both;
  }
  .animate-fadeIn {
    animation-name: fadeIn;
    animation-duration: 0.24s;
    animation-fill-mode: both;
  }

  .animate-fadeOut {
    animation-name: fadeOut;
    animation-duration: 0.24s;
    animation-fill-mode: both;
  }
}