.sidebar {
}

.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav li {
  padding-block: 10px;
  padding-left: 30px;
  color:white
}

.nav li:hover{
  cursor: pointer;
  font-weight: bold;
}

.nav li span {
  text-decoration: none;
}


.active {
  border: 3px solid #40BABD;
  background-color: #263238;
}
