.label-width {
    width: 200px; 
}

.inputUser {
  padding: 8px 5px;
  outline: none;
  margin-bottom: 7px;
  border-radius: 8px;
  background-color: rgb(243 244 246);
  border: 1px solid rgb(229 231 235);
}

.inputUser::placeholder {
  color: #292929;
}

.checkGender {
  padding: 0px 50px;
}