.dropdown.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
}

.dropdown.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
}

.dropdown: before {
  content: "";
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(-- secondary-bg);
  transform: rotate(45deg);
}
